{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping Cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">View your Cart...</p>
    </div>
  </div>
</header>

<section class="h-100" style="background-color: #eee">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0">
              <span class="text-muted">Sort by:</span>
              <a href="#!" class="text-body">price <i class="fas fa-angle-down mt-1"></i></a>
            </p>
          </div>
        </div>

      {% if cart_products %}
        {% for product in cart_products %}
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">

              <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="{{ product.image.url }}"
                  class="img-fluid rounded-3" alt="Cotton T-shirt" />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ product }}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                    <select class="form-select me-3" id="select{{ product.id }}">
                          {% for key, value in quantities.items %}
                            {% if key == product.id|slugify %}
                              <option selected>{{ value }}</option>
                            {% endif %}
                          {% endfor %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 row">
                <h5 class="mb-0">Rs.{{ product.price }}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1">
                <button class="btn btn-outline-success update-cart mb-3" type="button" data-index="{{ product.id }}">
                    Update 
                </button>

                <button class="btn btn-outline-danger delete-product mb-3" type="button" data-index="{{ product.id }}">
                  Delete
              </button>
              
              <button class="btn btn-outline-danger delete-product" type="button" data-index="{{ product.id }}">
                Delete
            </button>  
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <strong>Total : INR {{ totals }} </strong>

      {% else %}
        <div class="mb-4 mt-4">
          <h2>There's nothing in your Cart....</h2>
        </div>

        <div>
          <a href="{% url 'home' %}" class="btn btn-outline-dark" style="width: 200px;">Add Something...</a>
        </div>
      {% endif %}


<!--         <div class="card">
          <div class="card-body">
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-block btn-lg">
              Proceed to Pay
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<script>
    //Update Cart
    // Check if the button is pressed
    $(document).on('click', '.update-cart', function (e) {
        e.preventDefault();
        // Grab the product id
        var productid = $(this).data('index');

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data: {
                product_id: $(this).data('index'), 
                product_qty: $('#select' + productid + 'option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function (json) {
                // console.log(json)
                // document.getElementById("cart_quantity").textContent = json.qty
              location.reload();
            },

            error: function (xhr, errmsg, err) {

            }

        });

    })

    //Delete item from Cart
    // Check if the button is pressed
    $(document).on('click', '.delete-cart', function (e) {
      e.preventDefault();
      // Grab the product id
      //var productid = $(this).data('index');

      $.ajax({
          type: 'POST',
          url: '{% url 'cart_delete' %}',
          data: {
              product_id: $(this).data('index'), 
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post'
          },

          success: function (json) {
              // console.log(json)
              // document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
          },

          error: function (xhr, errmsg, err) {

          }

      });

  })
</script>

{% endblock %}